body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.container {
    width: 500px;
    background: #444;
    margin:50px auto;
    padding: 20px;
    box-shadow: 10px 10px 20px black;
    border-radius: 8px;
}

h1, h4 {
    color: white;
}

.input-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px gray;
   
}
input{
    border: none;
    outline: none;
    background: transparent;
}

#new-task {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: none;
    outline: none;
}

#add-task {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color:  rgb(222, 63, 5);
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

#add-task:hover {
    background-color: #0b1622;
}

#task-list, #completed-task-list {
    list-style: none;
    padding: 0;
  
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.task.completed {
    text-decoration: line-through;
    color: #999;
}

.task button {
    border: none;
    background: none;
    cursor: pointer;
    /* color: #007bff; */
}



.theme-switcher {
    text-align: right;
    margin-bottom: 40px;
}
#theme{
    background-color:transparent;
    color: #fff;
    outline: none;
    border: none;
}
body.dark #theme{
    color: black;
    outline: none;
    border: none;
}
option{
    background-color: black;
}
body.dark option{
    background-color:#fff ;
}
body.dark {
    background-color: #333;
    color: #fff;
}

body.dark .container {
    background: #fff;
    color: #444;
}
body.dark h1{
    color: #0b1622;
}
body.dark h4{
    color: #0b1622;
}
body.dark .input-container {
    background: #cfc2c2;
    color: white;
}

body.dark #add-task {
    background-color: #0b1622;
}

body.dark #add-task:hover {
    background-color:rgb(222, 63, 5) ;
}
/* body.dark h4,h1{
    color: #ddd;
} */